@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: Lato;
    font-style: normal;
}

/* img {
    object-fit: cover;
    width: 100%;
} */

.center {
    padding-left: calc(50% - 1140px / 2);
    padding-right: calc(50% - 1140px / 2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding-top: 19px;
    padding-bottom: 19px;
}

.header__left {
    display: flex;
    align-items: end;
    gap: 41px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 33px;
}

.top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 250px;
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.top__image {
    width: initial;
}

.top__heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
    margin-bottom: 90px;
}

.top__h1 {
    color: #222;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
}

.top__h2 {
    color: #222;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}

.pink__text {
    color: #F16D7F;
}

.offer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 55fr 38fr;
    gap: 30px;
/*     Зачем я это сделал? Кажется, оно никак не работает.
    max-width: 100%;
    max-height: 100%; */
    margin-bottom: 96px;
}

.offer__item {
    display: flex;
    position: relative;
}

.offer__img {
    object-fit: cover;
    width: 100%;
}

.grid__offer__item {
    display: grid;
    grid-area: 2 / 1 / 3 / 4;
}

.grid__offer__img {
    object-fit: cover;
    width: 100%;
}

.offer__text {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(33, 22, 22, 0.70);
    position: absolute;
}

.str1 {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.str2 {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.featured {
    display: none;
/*     display: flex; */
    flex-direction: column;
    gap: 49px;
    margin-bottom: 60px;
}

.featured__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.featured__heading {
    color: #222;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
}

.featured__text {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.featured__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.f_item {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
}

.prod_img {
    object-fit: cover;
    width: 100%;
}

.f__item__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px 16px;
}

.item__name {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

.item__desc {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
}

.item__price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.f__button {
    display: block;
    margin: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding: 15px 39px;
    background-color: #FFF;
    border: 1px solid #F16D7F;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 734px / 2);
        padding-right: calc(50% - 734px / 2);
    }

    .header {
        padding-left: calc(50% - 702px / 2);
        padding-right: calc(50% - 702px / 2);
    }
    
    .top__img {
        height: 368px;
/*         Работает и без этого. Вопрос: Получается, что width: initial в исходных стилях достаточно, чтобы сохранить пропорции изображения? */
/*         width: auto; */
    }

    .top {
        padding-left: calc(94 * (1024px - 100vw) / 256 + 50vw - 734px / 2); /* или calc(94 * (1024px - 100vw) / 256) */
        gap: calc(238px - 118 * (1024px - 100vw) / 256);
/*      расчёт   calc((1024px - 100%) / 2 - 20px + 50% - 734px / 2) */
    }

    .top__h1 {
        font-size: 44px;
    }

    .top__h2 {
        font-size: 24px;
    }

    .top__heading {
        margin-bottom: 78px;
    }

    .offer {
        gap: 19px;
        margin-bottom: 110px;
    }

    .featured {
        gap: 45px;
    }
    
    .featured__top {
        gap: 3px;
    }
    
    .featured__items {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media (max-width: 767px) {
    .top__img {
        display: none;
    }

    .center {
        padding-left: calc(50% - 360px / 2);
        padding-right: calc(50% - 360px / 2);
    }

    .top {
        padding-left: calc(50% - 264px / 2);
        padding-right: calc(50% - 264px / 2);
    }

    .offer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;
        margin: 0 16px 64px;
    }

    .grid__offer__item {
        height: 112px;
    }

    .grid__offer__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .header__left {
        padding-left: 16px;
    }

    .header__right {
        padding-right: 16px;
    }

    .prof__icon, .cart__icon {
        display: none;
    }
}
