@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: Lato;
    font-style: normal;
}

.center {
    padding-left: calc(50% - 1140px / 2);
    padding-right: calc(50% - 1140px / 2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding-top: 19px;
    padding-bottom: 19px;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 41px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 33px;
}

.top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 250px;
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.top__heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
    margin-bottom: 90px;
}

.top__h1 {
    color: #222;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
}

.top__h2 {
    color: #222;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}

.pink__text {
    color: #F16D7F;
}

.offer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 55fr 38fr;
    gap: 30px;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 96px;
}

.offer__item {
    display: flex;
    position: relative;
}

.big__image__item {
    display: grid;
    grid-area: 2 / 1 / 3 / 4;
}

.offer__text {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(33, 22, 22, 0.70);
    position: absolute;
}

.str1 {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.str2 {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 49px;
    margin-bottom: 60px;
}

.featured__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.featured__heading {
    color: #222;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
}

.featured__text {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.featured__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.f_item {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
}

.f__item__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px 16px;
}

.item__name {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

.item__desc {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
}

.item__price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.f__button {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding: 15px 39px;
    background-color: #FFF;
    border: 1px solid #F16D7F;
    text-align: center;
}
