* {
    padding: 0;
    margin: 0;
}

.center {
    padding: 0 calc(50% - 1170px/2);
}

.nav_link {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    text-decoration: none;
}

.header {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

.logo_text {

    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.orange_text {
    color: #F25822;
    font-family: Gilroy-Bold;
}

.header_nav {
    display: flex;
    align-items: center;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: space-between;
    gap: 36px;
}

.main_content {
    margin-top: 84px;
    display: flex;
    gap: 41px;
    padding-bottom: 162px;
}

.main_content_text {
    display: flex;
    flex-direction: column;
}

.heading {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.paragraph {
    margin-right: 100px;
    margin-bottom: 37px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.actions {
    display: flex;
    justify-content: flex-start;
    gap: 72px;
}

.orange__button {
    border-radius: 50px;
    border: none;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 35px;
}

.video_link {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 16px;
}

.partners_logo {
    padding-top: 97px;
    padding-bottom: 97px;
    display: flex;
    justify-content: space-between;
}

.products {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.product__card {
    padding: 40px 30px 25px;
}

.object__shadow {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.product__card__icon {
    margin-bottom: 25px;
}

.card__name {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.product__card__desc {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 25px;
}

.details__link {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.services {
    background-color: #FAFAFA;
    padding-top: 92px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
}

.services__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}

.services__heading {
    color: #000;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.services__text {
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 75%;
}

.services__cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.service__card {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.service__card__image {
    margin-bottom: 6px;
    max-height: 100%;
    max-width: 100%;
}

.service__name {
    margin-bottom: 22px;
}

.service__card__desc {
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0px 30px 39px;
    display: flex;
    justify-content: center;
}
